*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


header{
  width: 100%;
  padding:20px 0;
  text-align: center;
}

.nav-list{
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
  border-bottom:1px solid #848282; 
  border-top:1px solid #848282;
    }

.nav-list-item{
  list-style: none;
  display: inline-block;
  margin:0 20px;
}

.main{
  margin:50px auto;
  width:800px;
  display:flex;
  flex-wrap:wrap;
}

.main1-1{
  width: 200px;
  height: 200px;
  background-color: #e6ffe9;
}
    
.main1-2{
  width: 200px;
  height: 200px;
  background-color: #cbffd3;
}
    
.main1-3{
  width: 200px;
  height: 200px;
  background-color: #aeffbd;
}
    
.main1-4{
  width: 200px;
  height: 200px;
  background-color: #93ffad;
}

.main2-1{
  width: 200px;
  height: 200px;
  background-color: #f3ffd8;
}
.main2-2{
  width: 200px;
  height: 200px;
  background-color: #edffbe;
}
    
.main2-3{
  width: 200px;
  height: 200px;
  background-color: #e9ffe5;
}
    
.main2-4{
  width: 200px;
  height: 200px;
  background-color: #e4ff8d;
}
    
.main3-1{
  width: 200px;
  height: 200px;
  background-color: #d9e5ff;
}
    
.main3-2{
  width: 200px;
  height: 200px;
  background-color: #bad3ff;
}

.main3-3{
  width: 200px;
  height: 200px;
  background-color: #a4c6ff;
}

.main3-4{
  width: 200px;
  height: 200px;
  background-color: #8eb8ff;
}

.footer-text{
  width: 100%;
  height:120px;
  background-color: gray;
  color:white;
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}
