.header-visual{
  width: 100%;
  height: 400px;
  background-image: url(Chp7-img/mv.jpg);
  background-size:cover;
  background-position:bottom;
}

.header-box{
  padding:20px 0 0 20px;
}

.heading{
 color:gray;
  }

.index{
  width: 840px;
  padding-top:20px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
    }

.index-box{
  width: 840px;
  padding-top:30px;
  padding-bottom:30px;
  border-bottom:solid 1px gray;
      }

