*{
  margin:0;
  padding:0;
  box-sizing:border-box;
} 


header{
  background-color: #FF9A4B;
  height: 50px;
  width: 100%;
}

main{
  margin:50px auto;
  width: 960px;
  display: flex;
  }

.box{
  width: 300px;
  background-color: #EEE;
  padding:10px;
  position: relative;
  margin-right: 30px;
}

.box:last-child{
  margin-right: 0;
}

.step{
  position:absolute;
  top:0;
  left:0;
  background-color: #ff9a4b;
  color: white;
  }

.img1{
  height: 150px;
  background-image:url(flow01.png);
  background-size: cover;
  background-position: bottom;
}

.img2{
  height: 150px;
  background-image:url(flow02.png);
  background-size: cover;
  background-position: bottom;
  }

.img3{
  height: 150px;
  background-image:url(flow03.png);
  background-size: cover;
  background-position: bottom;
}

.title{
  margin-top:15px;
  margin-bottom:5px;
}

footer{
 background-color: #AAAAAA;
 height: 50px;
 width: 100%;
}

@media screen and (max-width: 768px) {
  
  main{
  margin:50px auto;
  width: 100%;
  display: block;
  }
  
  .box{
  width:90%;
  background-color: #EEE;
  margin:0 auto;
  margin-bottom:20px;
  position: relative;
  }
  
  .box:last-child{
  margin-bottom: 0;
 }
  
  .img1{
  width: 90%;
  height: 150px;
  }

.img2{
   width: 90%;
   height: 150px;
  }

.img3{
   width: 90%;
   height: 150px;
}
  
}